// These values can be set on @use to avoid repeating values in each @import
$pad: 10px !default;
$border-radius: 0px !default;
$padside: 15px !default;   //on side with border
$side: left !default;
$border-width: 3px !default;
$shift-position: 0px !default;

// Generate styles for a surrounding box
@mixin box($border-width: $border-width,
  $style: solid,
  $background-color: var(--block-body-background),
  $border-color: var(--block-border-color),
  $head-color: var(--block-head-color),
  $padding: $pad,
  $padside: $padside,
  $side: $side,
  $border-radius: $border-radius,
  $shift-position: $shift-position)
{

  &:not(.knowl__content, .born-hidden-knowl) {
    border: $border-width $style $border-color;
    background-color: $background-color;
    padding: $padding;
    left: $shift-position;

    @if $border-radius > 0 {
      border-radius: $border-radius;
    }

    & > .heading:first-child {
      display: block;
      color: $head-color;
      margin-bottom: 0.5em;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }
}
