// Standard collection of chunks. This file should only be modified
// to fix bugs or improve the default-modern theme. If you want to
// make changes for use in some other theme, create a _chunks-XXX file
// in that theme's directory.

$border-radius: 8px !default;
$background-moondust: #C6DAE7;
$background-moondust-half: #e2ecf3;
$background-starcanvas: #003B5C;
$beaver-orange: #D73F09;

// One stop include for default style content blocks
@use 'components/chunks/asides-floating';
@use 'components/chunks/codelike';
@use 'exercises-b';
@use 'components/chunks/solutions';
@use 'components/chunks/sidebyside';
@use 'components/chunks/discussion-inline';
@use 'knowls-beaver' with ($border-radius: $border-radius);

@use 'components/chunks/helpers/L-mixin';
@use 'LB-mixin';
@use 'components/chunks/helpers/box-mixin' with ($border-radius: $border-radius);
@use 'components/chunks/helpers/heading-box-mixin';
@use 'components/chunks/helpers/sidebar-mixin';
@use 'components/chunks/helpers/inline-heading-mixin';
@use 'beaver-box-mixin' with ($border-radius: $border-radius);
@use 'components/chunks/helpers/C-box-mixin' with (
  $heading-color: white,
  $border-radius: $border-radius,
  $border-width: 3px,
  $padding: 12px,
  $padding-right: 0px
);

// rounded box
.assemblage-like {
  @include box-mixin.box($border-color: var(--assemblage-like-border-color), $background-color: var(--assemblage-like-body-background));
}

// rounded box with border
.definition-like:not(.dark-mode),
.example-like:not(.dark-mode),
.remark-like:not(.dark-mode),
.axiom:not(.dark-mode),
.conjecture:not(.dark-mode),
.principle:not(.dark-mode),
.corollary:not(.dark-mode),
.heuristic:not(.dark-mode),
.hypothesis:not(.dark-mode),
.assumption:not(.dark-mode) {
    @include beaver-box-mixin.box($border-color: $beaver-orange, $background-color: $background-moondust-half, $head-color: $beaver-orange, $border-radius: $border-radius);
}
.definition.dark-mode {
  @include beaver-box-mixin.box($border-color: $beaver-orange, $background-color: $background-starcanvas, $border-radius: $border-radius);
}
.principle:not(.dark-mode) {
  @include C-box-mixin.box(
      $border-color: $beaver-orange,
      $heading-background: $beaver-orange,
      $background-color: $background-moondust-half,
    );
}
.corollary:not(.dark-mode) {
  @include C-box-mixin.box(
      $border-color: $beaver-orange,
      $heading-background: $beaver-orange,
      $background-color: $background-starcanvas,
    );
}


// box with title inset on top
.goal-like {
  @include heading-box-mixin.box(
    $background-color: var(--goal-like-body-background),
    $border-color: var(--goal-like-border-color)
  );
}

// L-border
.project-like,
.openproblem-like,
.computation-like {
  @include L-mixin.border($style: solid);
}


// projects get a long L
.project-like:not(.knowl__content, .born-hidden-knowl) {
  @include LB-mixin.border($style: solid, $border-color: $beaver-orange);
}

/* proof gets a backwards facing L */
.proof {
  @include L-mixin.border(1px, $L-side: right);
}

/* No decorations/borders in knowls, to save space */
.knowl__content {
  .theorem-like,
  .definition-like,
  .project-like,
  .remark-like,
  .openproblem-like,
  .computation-like,
  .project-like {
    padding-left: 0;
    margin-left: 0;
    border-left: none;

    &::after {
      border-bottom: none;
      display: none;
    }
  }
  .example-like {
    padding-left: 0;
    margin-left: 0;
    border: none;

    &::after {
      border-bottom: none;
      display: none;
    }
  }
}

// wide sidebar on an entire section of solutions
section.solutions:not(:is(:first-child)) {
  @include sidebar-mixin.box(
    $border-width: 10px,

    $border-color: var(--page-border-color),
  );
}

.paragraphs,
article {
  @include inline-heading-mixin.heading;
}
