/*! Theme: beaver-modern */

// Variables used by theme. CSSBuilder overrides these by prepending
// different definitions for these variables to this file before the theme
// is compiled.

$palette: 'blue-red' !default;
$primary-color: null !default;
$secondary-color: null !default;
$primary-color-dark: #698aa8 !default;
$background-color-dark: #23241f !default;

@use "sass:map";

// ---------------------------------------------
// components and layout
@use 'parts-beaver';
@use 'chunks-beaver';
@use 'components/pretext' with (
  $navbar-breakpoint: parts-beaver.$navbar-breakpoint,
);

// ---------------------------------------------
// fonts and colors
@use 'fonts/fonts-google';

@use "colors/color-helpers" as colorHelpers;
@use 'colors/palette-dual' as palette-dual with (
  $palette: $palette,
  $primary-color: $primary-color,
  $secondary-color: $secondary-color,
);

// primary/secondary color defined as determined by palette-dual using
// $palette, $primary-color, $secondary-color
$primary-color: map.get(palette-dual.$colors, 'primary-color');
$secondary-color: map.get(palette-dual.$colors, 'secondary-color');

@use 'colors/palette-dark' as palette-dark with (
  $primary-color: $primary-color-dark,
  $background-color: $background-color-dark,
);

// ---------------------------------------------
// extra customizations

@use './customization-beaver';





// ---------------------------------------------
// concrete rules / includes that generate CSS

// render the actual colors
@include colorHelpers.set-root-colors(palette-dual.$colors, palette-dark.$colors);

:definition:is(.root:not(.dark-mode)){
  --body-text-color: black;
}

.root:not(.dark-mode)
{
  --body-title-color: #D73F09;
}
.heading:not(.dark-mode)
 {
    //--body-text-color: #D73F09;

    --body-title-color: #D73F09;
    // --color-dark: #D73F09;
    // --doc-title-color: #D73F09;

    // --primary-color: #D73F09;

    // --banner-background: #D73F09;

    // --link-text-color: #D73F09;
    // --link-active-text-color: #D73F09;
    // --link-active-background: #D73F09;
    // --link-alt-text-color: #D73F09;
    // --link-alt-active-background: #D73F09;

    // --toc-border-color: #D73F09;

    // --toc-text-color: #D73F09;

    // --tocitem-active-background: #D73F09;
    // --tocitem-highlight-background: #D73F09;

    // --toclevel2-background: #D73F09;
    // --toclevel3-background: #D73F09;

    // --doc-title-color: #D73F09;
    // --body-title-color: #D73F09;
    // --button-hover-background: #D73F09;
    // --assemb-border-color: #D73F09;

    // --block-head-color: #D73F09;
    // --knowl-background: #D73F09;
    // --knowl-border-color: #D73F09;
}

// section>.heading {
//     background: #D73F09;
//     color: #D73F09;
// }

